/* Main styles */

/* Game board styles */
html {
    font-family: sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: grey;
}

header {
    margin-top: 135px;
    font-size: 40px;
    text-align: center;
    color: white;
    /* font-family: sans-serif; */
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px;
}

.start-modal {
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    height: 100%;
    z-index: 1;
    display: block;
}

.player-name {
    font-size: 40px;
    margin:0px;
}

.player-score {
    font-size: 44px;
    margin-top: 5px;
}

.score-card {
    text-align: center;
}
.column {
    background-color: white;
    /* border-radius: 100px; */
}

/* .column:hover {
    background-color: green;
    border-radius: 100px;
} */

.clicked {
    background-color: grey;

}



.btn {
    background-color: rgb(47, 154, 255);
    color: white;
    font-size: 24px;
    border-radius: 5px;
    height: 60px;
    width: 160px;
    margin: auto;
}

.start-reset {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 44.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.reset-game {
    display: none;
    background-color: green;
}

.O {
    color: black;
    font-size: 150px;
    text-align: center;
    /* font-family: sans-serif; */

}

.X {
    /* margin: 100px;
    color: green;
    font-size: 56px;
    padding: 25px; */

    /* Working style */
    color: black;
    font-size: 150px;
    text-align: center;
    font-family: sans-serif;
}
/* Display: grid */